*{ padding: 0;
    text-decoration: none;
box-sizing: border-box;
margin: 0%;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(207, 170, 241);

}
nav{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 15px;
position: fixed;
top: 10;
left: 10;
right: 10;
padding: 15px;
width: 100%;
backdrop-filter: blur;

}
.logo{
    margin-left: 5px;
    cursor: pointer;
}
li{
    list-style: none;
display: inline-block;
margin-right: 1opx;
}
.li a{
    font-size: 16px;
    font-family: sans-serif;
font-weight: bold;
color: white;
transition: 0.5s ease;

}
.li a:hover{
    color: #e6d306;
  
}
h2{
    color: green;
    margin-bottom: 30px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: green solid 5px;

}
.main{
    border:royalblue ;
    flex-direction: column;
width: 700px;
height: 500px;
margin: 10px;


}
footer{
    background-color: greenyellow;
    color: red;
    padding: 5px;
}
